@model VisitorMetaData
@{
    ViewData["Title"] = "Visitor Requests Details";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="container py-5">
    <div class="card-body">
        <div class="card col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="page-breadcrumb align-items-center border-bottom">
                <div class="p-2">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a asp-controller="Home" asp-action="Index" asp-area="Admin"><i class="bx bx-home-alt"></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page"><a asp-controller="VisitorRequests" asp-action="Index" asp-area="Admin">Visitor Requests</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Visitor Request Details</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row p-4">
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="row mb-3">
                                <label for="VisitorName" class="col-sm-3 col-form-label  font-weight-bold">Visitor Name</label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="VisitorName" class="form-control mx-2" readonly="readonly" value="@Html.Raw(@Model.VisitorName)" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="row mb-3">
                                <label for="" class="col-sm-3 col-form-label ">Email</label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="Email" class="form-control mx-2" readonly="readonly" value="@Html.Raw(@Model.Email)" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="row mb-3">
                                <label for="" class="col-sm-3 col-form-label ">Mobile</label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="MobileNo" class="form-control mx-2" readonly="readonly" value="@Html.Raw(@Model.MobileNo.toStringWithDash())" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="row mb-3">
                                <label for="" class="col-sm-3 col-form-label ">Identity Proof details</label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="IdentityProofNumber" class="form-control mx-2" readonly="readonly" value="@Html.Raw(@Model.IdentityProofTypeText)" />
                                    @if (Model.IdentityProofFileName.IsNotStringNullOrEmpty())
                                    {
                                        @Html.ActionLink("Download", "DownloadFile", "VisitorRequests", new { id = Model.VisitorMeetingRequestID })
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="row mb-3">
                                <label for="" class="col-sm-3 col-form-label ">Vehicle Details</label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="VehicleNo" class="form-control mx-2" readonly="readonly" value="@Html.Raw(@Model.VehicleTypeText.toStringWithDash()) - @Html.Raw(@Model.VehicleNo.toStringWithDash())" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="row mb-3">
                                <label for="MeetingRequestDateTime" class="col-sm-3 col-form-label ">Meeting Request Title and date and time</label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="MeetingRequestDateTime" class="form-control mx-2" readonly="readonly" value=@Html.Raw(@Model.MeetingRequestDateTime) />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="row mb-3">
                                <label for="" class="col-sm-3 col-form-label ">Person name whom to meet</label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="MeetToWhomPersonName" class="form-control mx-2" readonly="readonly" value=@Html.Raw(@Model.MeetToWhomPersonName) />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="row mb-3">
                                <label for="" class="col-sm-3 col-form-label ">Person mobile whom to meet</label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="MeetToWhomPersonMobile" class="form-control mx-2" readonly="readonly" value=@Html.Raw(@Model.MeetToWhomPersonMobile) />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="row mb-3">
                                <label for="" class="col-sm-3 col-form-label ">Meeting purpose</label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="PurposeofMeeting" class="form-control mx-2" readonly="readonly" value=@Html.Raw(@Model.PurposeofMeeting) />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                        <div class="form-flating">
                            @{
                                var linkA = "../../Admin/VisitorRequests/Approve/" + @Model.VisitorMeetingRequestID;
                                var linkD = "../../Admin/VisitorRequests/Declain/" + @Model.VisitorMeetingRequestID;
                                var linkB = "../../Admin/VisitorRequests/Index/";
                            }
                            @if (@Model.IsApproved != 0 || @Model.IsApproved != 1)
                            {

                                <input class="btn btn-primary btn-login text-uppercase fw-bold" type="button" value="Approve" onclick="location.href='@Url.Action("Approve", "VisitorRequests",new { id = @Model.VisitorMeetingRequestID})'" />
                                <input class="btn btn-primary btn-login text-uppercase fw-bold" type="button" value="Reject" onclick="location.href='@Url.Action("Declain", "VisitorRequests",new { id = @Model.VisitorMeetingRequestID})'" />
                                <input class="btn btn-primary btn-login text-uppercase fw-bold" type="button" value="Cancel" onclick="location.href='@Url.Action("Index", "VisitorRequests")'" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>